* {
    /*font-family: 'Caveat', cursive;*/
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    color: white;

}

body {
    background-color: #d92e38;
}

container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

container h1 {
    font-size: 80px;
}

#hny > div {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 150px;
    background-image: url("../resource/mishra.png");
    background-size: contain;
}

.we > div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 30%;
    height: 100%;
}

.we > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.heart, .heart:before, .heart:after {
    display: block;
    background-image: url("../resource/heart.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 9em;
    height: 8em;
}

.heart {
    position: relative;
    top: 230px;
    left: 120px;
    margin-left: 115px;
    transform: scale(2) rotateZ(-5deg);
}

.heart:before, .heart:after {
    display: block;
    content: '';
    position: relative;

}

.heart:before {
    width: 6em;
    height: 4em;
    top: -65px;
    left: -60px;
    transform: rotateZ(14deg);
}

.heart:after {
    width: 5em;
    height: 3em;
    top: -125px;
    right: -120px;
    transform: rotateZ(-15deg);
}

.photo img{
    width: 22em;
    height: 33em;
    background-color: bisque;
    border: 10px solid black;
}

.img1, .img2, .img1:hover, .img2:hover {
    transition: all 0.4s ease-in-out;
}

.img1 {
    z-index: 1;
    position: relative;
    right: -40px;
    transform: rotateZ(-12deg);
}

.img2 {
    position: relative;
    left: -40px;
    transform: rotateZ(25deg);
    opacity: 0.7;
}

.img1:hover {
    transform: scale(1.2) rotateZ(-12deg);
}

.img2:hover {
    transform: scale(1.2) rotateZ(25deg);
    opacity: 1;
    z-index: 2;
}

.img1:focus {
    opacity: 0.7;
}

#particles-js{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
}